:root{
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: 80px 1fr 100px;
    grid-template-areas:
        "nav"
        "main"
        "footer";
    height: 100vh;
}

nav{
    background-color: red;
    grid-area: "nav";
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

main{
    background-color: darkblue;
    grid-area: "main";
    color: white;
}

footer{
    background-color: gold;
    grid-area: "footer";
}