:root{
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: 150px 1fr 100px;
    grid-template-areas:
        "nav"
        "main"
        "footer";
    height: 100vh;
}

nav{
    background-color: red;
    grid-area: "nav";
}

main{
    background-color: darkblue;
    grid-area: "main";
    color: white;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.center-flex{
    background-color: rebeccapurple;
    grid-column: 1/13;
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: gold;
    grid-area: "footer";
}