button{
    background-color: var(--color-button);
    padding: 1rem 1.8rem;
    border-radius: 100px;
    margin-top: 1rem;
}

h1{
    font-size: 72pt;
    font-weight: 700;
    text-align: center;
}

header{
    margin: 1rem 2rem;
}

.container{
    justify-content: flex-start;
    margin-top: 2rem;
}

#msg{
    padding-top: 1rem;
}