#loginBtn{
    margin-top: 2rem;
    width: 230px;
    height: 60px;
    border-radius: 30px;
    
}

h1{
    font-size: 72pt;
    font-weight: 700;
}

p{
    font-size: 18pt;
    font-weight: 400;
    margin: 2rem 0;
}