@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --color-green: #1F9764;
    --color-button: #808080;
    --color-background: #484848;
    --color-light: white;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    background-color: var(--color-background);
    color: var(--color-light);
}

button{
    border: none;
    background-color: var(--color-green);
    color: var(--color-light);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover{
    scale: 1.05;
    transition: .3s;
}